<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SpinnerExampleDay"><intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>
        <activity android:name=".RelativeLayoutEx">

        </activity>
        <activity android:name=".LinearLayoutEx"></activity>
        <activity android:name=".LinearLayoutExample" />
        <activity android:name=".TestApplication" />
        <activity android:name=".ConstraintLayoutExample" />
        <activity android:name=".BasicExample" />
        <activity android:name=".PracticeExample" />
        <activity
            android:name=".Layout_Activity"
            android:label="application" />
        <activity
            android:name=".Simple_Calculator"
            android:label="@string/title_activity_simple__calculator"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>